<h2 id="activity">Activity</h2>
<p>Миллер начал свою карьеру в качестве артиста на своих ныне неактивных ютуб-каналах: DizastaMusic, TVFilthyFrank и
    TooDamnFilthy. На них он выкладывал свою музыку, размышления, экстремальные челленджи и вёл шоу под названием The
    Filthy Frank Show, большинство персонажей в котором играл самостоятельно. В дополнение Миллер создавал комедийную
    хип-хоп музыку под псевдонимом Pink Guy, который также являлся одним из героев The Filthy Frank Show — всего было
    выпущено два полноценных альбома и один EP. Видео Джорджа оказали широкое влияние, включая начало вирусного танца
    Harlem Shake. Многие YouTube-знаменитости также появлялись на шоу, включая iDubbbz, Maxmoefoe, h3h3Productions,
    JonTron, Vsauce и PewDiePie.
</p>
<p>В декабре 2017 Миллер заявил о закрытии канала и начале своей музыкальной карьеры под псевдонимом Joji. С тех пор он
    начал создавать более серьёзную и глубокую музыку, выпустив EP In Tongues. который занял 58 место в Billboard 200, и
    дебютный студийный альбом Ballads 1, который получил первое место в топе лучших R&B/Хип-Хоп альбомов Billboard в
    ноябре 2018. Миллер стал первым артистом азиатского происхождения, сделавшим это. Его музыку описывают как смесь
    R&B, lo-fi и трип-хопа.
</p>