<h2 id="bio">Bio</h2>
<p>Джордж Миллер родился в Осаке, выпускник Канадской академии в Кобе, которую закончил в 2012 году. В 18 лет он покинул
    Японию и отправился в США.
</p>
<p>В своем видео «Filthy Frank Exposes Himself???» он рассказывал, что учится в бруклинском колледже и не желает
    раскрывать свою настоящую личность, чтобы в будущем не иметь проблем с устройством на работу из-за характера своего
    шоу. В этом же видео он рассказал о проблемах со здоровьем, о приступах, вызванных ими, и что не желает раскрывать
    их тоже. В сентябре 2017 года он перестал существовать как Filthy Frank и все его другие персоны тоже, чтобы
    полноценно построить карьеру в музыкальной индустрии.
</p>
<p>По состоянию на 2018 год проживает в Бруклине и часто летает в Лос-Анджелес, где у него имеется жильё и работа.
</p>