<h2 id="brief">Brief</h2>
<p> Джордж Кусуноки Миллер (англ. George Kusunoki Miller; род. 18 сентября 1992, Осака), выступающий под сценическим
    псевдонимом Joji (Джоджи), ранее известный как Filthy Frank и Pink Guy — австрало-японский и американский
    певец-композитор, музыкальный продюсер, автор, комик, в прошлом интернет-знаменитость и ютубер.
</p>