<h2 id="links">Links</h2>
<ul>
  <li><a href="https://www.youtube.com/channel/UCFl7yKfcRcFmIUbKeCA-SJQ" target="_blank">YouTube</a></li>
  <li><a href="https://www.instagram.com/sushitrash/" target="_blank">instagram</a></li>
</ul>